:root {
  --main-bg: #ebedf6;

  --colors-primary: #001487;
  --colors-secondary: #00affa;

  --colors-primary-lighten: #002b98;

  --colors-text-1: #bdbfd7;
  --colors-text-2: #e1e5ef;
  --colors-text-3: #e31b9e;
  --colors-text-4: #f2f3f9;

  --colors-border-1: #f4f4f8;
}

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", arial, sans-serif;
  overflow: hidden;
}

.app {
  height: 100%;
}

.app_bar,
.app_header {
  background-color: var(--colors-primary);
  color: white;
  padding: 15px 24px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--colors-secondary);
}

.app_bar {
  height: 60px;
}

.app_bar_logo {
  margin: 0 10px;
  padding: 0 10px 0 0;
  cursor: pointer;
  transition: 0.2s ease-in-out all;
  transform: scale(1);
}

.app_bar_logo:hover {
  /* animation: bounce 0.4s; */
  transform: scale(1.5);
}

@keyframes bounce {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  to {
    transform: scale(1);
  }
}

.app_bar_menu {
  display: flex;
  align-items: center;
  flex: 1;
}

.app_bar_menu_left {
  flex: 1;
  display: flex;
}

.separator {
  height: auto;
  width: 1px;
  background-color: var(--colors-secondary);
}
.menu_item {
  margin: 0 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

.menu_item span {
  padding-bottom: 3px;
  border-bottom: 1px solid transparent;
}

.menu_item:hover span {
  border-bottom: 1px solid white;
}

.menu_item:hover .badge span {
  border-bottom: 0px solid transparent;
}

.app_bar_menu_right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.app_bar_icon {
  color: var(--colors-secondary);
  margin: 0 0 0 5px;
}
.app_bar_icon svg {
  width: 12px;
  height: 12px;
}

.badge {
  background: red;
  color: white;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  top: -5px;
  right: -5px;
  line-height: 18px;
  font-size: 12px;
  text-align: center;
  /* padding: 5px; */
  font-weight: bold;
}

.app_header {
  padding: 20px 24px;
  height: 145px;
}

.app_header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.app_header_user {
  display: flex;
  flex: 1;
  align-items: center;
  height: 145px;
}
.app_header_progress_bar {
  margin: 0 10px 0 0;
}

.progress-ring__circle {
  stroke-dasharray: 251.327, 251.327;
  stroke-dashoffset: 188.496;
  transition: 0.35s stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  z-index: 5;
}

.app_header_user_info_welcome {
  font-size: 25px;
}

.app_header_user_info_details {
  color: var(--colors-secondary);
  margin: 10px 0;
}

.app_header_user_info_details span {
  font-size: 25px;
}

.app_header_actions {
  display: flex;
}

.app_header_actions div {
  height: 60px;
  width: 60px;
  background-color: var(--colors-primary-lighten);
  border-radius: 50%;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app_header_actions div svg {
  margin: 0;
  width: 30px;
  height: 30px;
}

.content {
  padding: 20px 24px;
  background-color: var(--main-bg);
  height: calc(100% - 145px - 60px);
  overflow: auto;
}

.content_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 500px);
  gap: 50px;
  justify-items: center;
  justify-content: center;
}

.card {
  background-color: white;
  max-width: 500px;
  width: 500px;
  color: var(--colors-primary);
  height: 410px;
}

.card_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  padding: 24px;
  cursor: pointer;
  height: 72px;
}
.card_header_secondary {
  color: var(--colors-secondary);
  display: flex;
  align-items: center;
}

.card_content {
  margin: 10px 0;
  padding: 24px;
  min-height: 160px;
  height: calc(100% - 72px - 180px);
}

.no_footer {
  height: calc(100% - 72px - 12px);
  margin-bottom: 0;
}

.empty_contract {
  border: 2px solid var(--colors-border-1);
  height: 100%;
}

.start_souscriptions {
  display: flex;
  align-items: center;
  padding: 24px;
  border-bottom: 2px solid var(--colors-border-1);
}

.start_souscriptions div {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.empty_contract_shield_icon {
  width: 50px;
  height: 50px;
  margin: 0 20px;
}

.souscription_description {
  display: block;
  border-bottom: unset;
  color: var(--colors-text-1);
}

.card_stats_progress {
  display: flex;
  align-items: center;
  width: 50%;
}

.progress_bar_vertical {
  height: 100px;
  width: 8px;
  border-radius: 8px;
  background-color: var(--colors-text-4);
  position: relative;
  margin: 0 20px 0 0;
}

.progress_bar_vertical_inner {
  background-color: var(--colors-secondary);
  position: absolute;
  bottom: 0;
  height: 10px;
  width: 8px;
  border-radius: 8px;
}

.stats_percent {
  font-weight: bold;
  font-size: 20px;
  margin: 0 0 10px 0;
}

.stats_text {
  color: var(--colors-text-1);
}

.card_footer {
  border-top: 2px solid var(--colors-border-1);
  padding: 24px;
  height: 180px;
}

.box_contract {
  border: 2px solid var(--colors-border-1);
  display: flex;
}

.no_contract {
  color: var(--colors-text-2);
}

.box_contract_logo {
  border-right: 2px solid var(--colors-border-1);
  padding: 24px;
  display: flex;
  align-items: center;
}

.box_contract_no_logo {
  height: 35px;
  width: 80px;
  border: 2px solid var(--colors-border-1);
  border-radius: 20px;
}

.box_contract_details {
  padding: 24px;
  width: 100%;
}

.box_contract_selected_contract,
.box_contract_selected_contract_no_contract {
  margin: 0 0 10px 0;
  color: var(--colors-text-1);
}

.box_contract_selected_contract_no_contract {
  color: var(--colors-text-2);
}

.box_contract_info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--colors-primary);
}

.box_contract_info_no_contract {
  color: var(--colors-text-2);
}

.card_stats_steps {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.steps {
  margin: 0;
  padding: 0;
}
.steps li {
  display: flex;
  color: #999;
}

.steps div {
  position: relative;
  /* padding: 0 1.5em; */
}

.steps div::after {
  content: "";
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  transform: translateX(60%);
  border-radius: 50%;
  background: #fff;
  border: 3px var(--colors-text-1) solid;
  width: 0.5em;
  height: 0.5em;
}

.steps .active div::after {
  border: 3px var(--colors-secondary) solid;
}

.steps span {
  padding: 0 1.5em 1em 1.5em;
  position: relative;
}

.steps span::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  height: 100%;
  border-left: 3px var(--colors-text-1) solid;
}

.steps .active span::before {
  border-left: 3px var(--colors-secondary) solid;
}

.steps span::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -20px;
  left: 0;
  height: 100%;
  border-left: 3px var(--colors-text-1) solid;
}

.steps .active span::after {
  border-left: 3px var(--colors-secondary) solid;
}

.steps strong {
  display: block;
  font-weight: bolder;
}
